<div class="row justify-content-center mt-5">
  <figure class="category" onclick="ajax('/strollers')">
    <img class="cat-img" src="/static/strollers.png" alt="strollers" />
    <figcaption>Strollers</figcaption>
  </figure>
  <figure class="category" onclick="ajax('/car-seats')">
    <img class="cat-img" src="/static/carseats.png" alt="car seats" />
    <figcaption>Car Seats</figcaption>
  </figure>
  <figure class="category" onclick="ajax('/gear-travel')">
    <img class="cat-img" src="/static/geartravel.png" alt="gear & travel" />
    <figcaption>Gear & Travel</figcaption>
  </figure>
  <figure class="category" onclick="ajax('/furniture')">
    <img class="cat-img" src="/static/furniture.png" alt="furniture" />
    <figcaption>Furniture</figcaption>
  </figure>
  <figure class="category" onclick="ajax('/bedding-decor')">
    <img class="cat-img" src="/static/beddingdecor.png" alt="bedding & decor" />
    <figcaption>Bedding & Decor</figcaption>
  </figure>
  <figure class="category" onclick="ajax('/nursingfeeding')">
    <img
      class="cat-img"
      src="/static/nursingfeeding.png"
      alt="nursing & feeding"
    />
    <figcaption>Nursing & Feeding</figcaption>
  </figure>
  <figure class="category" onclick="ajax('/bath-potty')">
    <img class="cat-img" src="/static/bathpotty.png" alt="bath & potty" />
    <figcaption>Bath & Potty</figcaption>
  </figure>
  <figure class="category" onclick="ajax('/health-safety')">
    <img class="cat-img" src="/static/healthsafety.png" alt="health & safety" />
    <figcaption>Health & Safety</figcaption>
  </figure>
  <figure class="category" onclick="ajax('/toys-learning')">
    <img class="cat-img" src="/static/toyslearning.png" alt="toys & learning" />
    <figcaption>Toys & Learning</figcaption>
  </figure>
  <figure class="category" onclick="ajax('/clothing-accessories')">
    <img
      class="cat-img"
      src="/static/clothingaccessories.png"
      alt="clothing & accessories"
    />
    <figcaption>Clothing & Accessories</figcaption>
  </figure>
  <figure class="category" onclick="ajax('/gifts-more')">
    <img class="cat-img" src="/static/giftsmore.png" alt="gifts & more" />
    <figcaption>Gifts & More</figcaption>
  </figure>
</div>
