<div class="text-center">
  <h2>Welcome.</h2>
  <p>
    We are excited to help you, expecting mothers, feel peaceful and
    confident about being ready for the arrival of your bundle of joy. We want to help you find the
    products that you absolutely need and make it a pleasurable experience for you.
  </p>
  <p style="color: #3C9AC8">
    If you are not sure what do get or what to do,
    <button class="link" style="color: #3C9AC8" onclick="ajax('/checklist')">click here</button> to
    enter the guided portion of the website
  </p>
</div>

<div class="row justify-content-center mt-5">
  <% for (let i = 0; i < categories.length; i++) { %>
  <figure class="category" onclick="ajax('/<%= categories[i].link %>')">
    <img
      class="cat-img"
      src="/static/<%= categories[i].image %>.png"
      alt="<%= categories[i].image %>"
    />
    <figcaption><%= categories[i].title %></figcaption>
  </figure>
  <% } %>
</div>
