<h2 class="mb-5">Checklist</h2>
<div class="row">
  <% for (let i = 0; i < checklistItems.length; i++) { %>
    <% if (i % 3 === 0) { %>
  <div class="col-md-4">
    <% } %>
    <div class="col-xs-12 cl-item" onclick="ajax('/<%= checklistItems[i].title.toLowerCase() %><% if (checklistItems[i].skip) { %>/<%= checklistItems[i].title.toLowerCase() %><% } %>')">
      <div class="row align-items-center mb-3">
        <div class="col-auto">
          <span class="cl-circle"><%= i + 1 %></span>
        </div>
        <div class="col">
          <span class="cl-cat-title"><%= checklistItems[i].title %></span>
        </div>
      </div>
    </div> 
    <% if (i % 3 === 2) { %>
    </div>
    <% } %>
    <% } %>
    <!-- <div class="col-xs-12 cl-item" onclick="ajax('/sleeping')">
      <div class="row align-items-center mb-3">
        <div class="col-auto">
          <span class="cl-circle">2</span>
        </div>
        <div class="col">
          <span class="cl-cat-title">Sleeping</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 cl-item" onclick="ajax('/diapering')">
      <div class="row align-items-center mb-3">
        <div class="col-auto">
          <span class="cl-circle">3</span>
        </div>
        <div class="col">
          <span class="cl-cat-title">Diapering</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-xs-12 cl-item" onclick="ajax('/clothing')">
      <div class="row align-items-center mb-3">
        <div class="col-auto">
          <span class="cl-circle">4</span>
        </div>
        <div class="col">
          <span class="cl-cat-title">Clothing</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 cl-item" onclick="ajax('/hygiene')">
      <div class="row align-items-center mb-3">
        <div class="col-auto">
          <span class="cl-circle">5</span>
        </div>
        <div class="col">
          <span class="cl-cat-title">Hygiene</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 cl-item" onclick="ajax('/travel')">
      <div class="row align-items-center mb-3">
        <div class="col-auto">
          <span class="cl-circle">6</span>
        </div>
        <div class="col">
          <span class="cl-cat-title">Travel</span>
        </div>
      </div>
    </div>
  </div> -->
  </div>
</div>
