<div
  class="row justify-content-between align-items-center pr-4 pl-4 pt-2 pb-2"
  id="navbar-main"
>
  <div class="col-sm-3 pointer" onclick="ajax('', '/readyforbaby')">
    <h1>ReadyForBaby</h1>
  </div>

  <form
    id="searchForm"
    action="/readyforbaby/search"
    method="get"
    class="input-group col-sm-6"
    onsubmit="weirdSearch(); return false;"
  >
    <input
      class="form-control rounded-pill"
      id="main-search"
      type="search"
      placeholder="What can we help you find?"
      name="search"
      required
    />
    <input type="text" style="display: none;" name="r" value="0" />
    <input type="submit" style="display: none;" />
  </form>

  <div class="col-xs-2 text-right">
    <a onclick="ajax('/checklist', '/readyforbaby')" class="mr-4 pointer"
      >Checklist</a
    >
    <a onclick="ajax('/registry', '/readyforbaby')" class="mr-4 pointer"
      >Registry</a
    >
    <% if (!data.user) { %>
    <a onclick="ajax('/signin', '/readyforbaby')" class="sign-in-navbar pointer"
      >Sign in</a
    >
    <% } else { %>
    <a class="sign-in-navbar"><%= data.user.name.first %></a>
    <!-- <a href="/readyforbaby/logout" class="mr-4 pointer"
      >Log out</a
    > -->
    <% } %>
  </div>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <% for (let i = 0; i < data.paths.length; ++i) { %>
    <li
      class="breadcrumb-item <% if (i + 1 === data.paths.length) { %>active<% } %>"
      aria-current="page"
    >
      <% if (i + 1 !== data.paths.length) { %><a
        href="<%= data.paths[i].href %>"
        ><%= data.paths[i].name %></a
      ><% } else { %> <%= data.paths[i].name %> <% } %>
    </li>
    <%}%>
  </ol>
</nav>
