<div
  class="row justify-content-between align-items-center pr-4 pl-4 pt-2 pb-2"
  id="navbar-main"
>
  <div class="col-sm-3 pointer" onclick="ajax('', '/readyforbaby')">
    <h1>ReadyForBaby</h1>
  </div>

  <div class="input-group col-sm-6">
    <input
      class="form-control rounded-pill"
      id="main-search"
      type="search"
      placeholder="What can we help you find?"
    />
  </div>

  <div class="col-xs-2 text-right">
    <a onclick="ajax('/checklist', '/readyforbaby')" class="mr-4 pointer"
      >Checklist</a
    >
    <a onclick="ajax('/registry', '/readyforbaby')" class="mr-4 pointer"
      >Registry</a
    >
    <% if (data.length === 0) { %>
    <a onclick="ajax('/signin', '/readyforbaby')" class="sign-in-navbar pointer"
      >Sign in</a
    >
    <% } else { %>
      <a class="sign-in-navbar"
      ><%= data[0].name.first %></a
    >
    <!-- <a href="/readyforbaby/logout" class="mr-4 pointer"
      >Log out</a
    >
    <% } %> -->
  </div>
</div>
