<div class="text-center">
  <h2 id="page-title"><%= title %></h2>
  <h4 id="page-subtitle"><%= subtitle %></h4>
</div>
<div class="row mb-4 mb-5">
  <div class="col-md-12 mb-3">
    <h3 class="product-cat"><%= procuctCatTitle %></h3>
    <span class="badge badge-danger"><%= badge %></span>
  </div>
  <div class="col-md-2 mr-5 ml-1 row product-box text-center">
    <div class="product-info col-xs-12">
      <img
        src="https://target.scene7.com/is/image/Target/GUEST_36e15c69-5508-4fcc-9ad0-1f8154117c08?wid=488&hei=488&fmt=pjpeg"
        alt="bottles"
      />
      title
    </div>
    <div class="product-links col-xs-12">
      <div class="btn">Go to Store</div>
      <div class="btn">Add to Registry</div>
    </div>
  </div>
  <div class="col-md-2 mr-5 product-box">test</div>
  <div class="col-md-2 mr-5 product-box">test</div>
</div>
<div class="row mb-4">
  <div class="col-md-12 mb-3">
    <h3 class="product-cat">Breastpads</h3>
    <span class="badge badge-danger">must-have</span>
  </div>
  <div class="col-md-2 mr-5 product-box">test</div>
  <div class="col-md-2 mr-5 product-box">test</div>
  <div class="col-md-2 mr-5 product-box">test</div>
</div>
