<h2 class="mb-5 text-center" id="page-title">Registry</h2>

<ul class="list-group">
  <% if (data.products.length === 0) { %>
  <h3 class="text-center mt-5">Please add products to your registry.</h3>
  <% } %> <% for (let i = 0; i < data.products.length; i++) { %>
  <li
    class="list-group-item d-flex align-items-center pointer"
    onclick="window.location = '<%= data.products[i].link %>'"
  >
    <div class="col-md-2">
      <img
        src="<%= data.products[i].imageLink %>"
        alt="<%= data.products[i].title %>"
      />
    </div>
    <div class="col">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= data.products[i].title %></h5>
        <!-- <small>products[i].added</small> -->
      </div>
      <p class="mb-1">
        <!-- < data.products[i].description %> -->
      </p>
    </div>
  </li>
  <% } %>
</ul>
