<div class="text-center">
  <h2 class="mb-4">Welcome.</h2>

  <h4 class="mb-5">Do you know what you need for baby?</h4>

  <div class="btn-group" role="group">
    <button class="btn btn-light btn-choice" onclick="ajax('/categories', 'readyforbaby')">
      Yes.
    </button>
    <button class="btn btn-light btn-choice" onclick="ajax('/checklist', 'readyforbaby')">
      I'm not sure.
    </button>
  </div>
</div>
