<div class="row align-items-center mt-4">
  <div class="col-md-4"></div>
  <div class="col-md-4 text-center">
    <h1>ReadyForBaby</h1>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-1 text-right">
    <a onclick="clicked()">About Us</a>
  </div>
  <div class="col-md-1 text-right">
    <a onclick="clicked()">Contact Us</a>
  </div>
</div>
